:root {

  --main-bg: #e5f9db;
  --green: #a0d8b3;
  --acc1: #a2a378;
  --acc2: #83764f;
  font-family: Rubik;
  font-size: 1.5em;

}

body {
  background-color: var(--main-bg);
}

h1 {
  padding-left: 1em;
}

.vl {
  border-left: 2px solid var(--acc1);
  height: parent;
}

.nav {
  display: flex;
  align-items: center;
  text-justify: middle;
  padding: 1rem;
  background-color: var(--green);
  border-radius: 1rem;
  vertical-align: baseline;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.nav a {
  margin: 0 .5rem;
  padding: 0 1em;
  text-decoration: none;
  border-radius: 1em;
  color: black;
  transition: .25s ease-in-out;
  text-align: center;
  height: 80%;
}

.nav a:hover {
  color: var(--acc2);
  background-color: var(--main-bg);

}

.nav a:hover:after {
  color: black;
  transition: .2s ease;
}

.main-button {
  font-size: 1.5em;
}

#amount-form {
  display: None;
}

.chart-app {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

table {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  /* border: 2px solid black; */
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--acc1);
}

thead {
  font-size: 1.5em;
}

tr {
  /* border: 2px solid black; */
  /* border-radius: 1em; */
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: var(--main-bg);
}

tbody tr td:nth-child(0) {
  width: 40%;
}

