<!Doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    {% block head %} {% endblock %}
  </head>

  <body>
    <nav class="nav">
        <a href="/" class="main-button"><strong>{{name}}</strong></a>
      <div class="vl"/>
      <a href="/report">Report</a>
    </nav>
    {% block content %} {%endblock%}
  </body>

</html>
