<!Doctype html>
<html lang="en">
  <head>
    <title>Levi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"
  </head>

  <body>
    <nav class="nav">
      <a href="/"><strong>Levi</strong></a>
    </nav>
    <h1>Levi</h1>
  </body>

</html>
